In [18]:
import numpy as np
import pandas as pd

data = np.array(([6.9,3.1],
                [6.7,3.1],
                [6.9,3.1],
                [5.8,2.7],
                [6.8,3.2]))

In [19]:
data = pd.DataFrame(data)
data

     0    1
0  6.9  3.1
1  6.7  3.1
2  6.9  3.1
3  5.8  2.7
4  6.8  3.2

In [20]:
means = data.mean()
means

0    6.62
1    3.04
dtype: float64

In [21]:
num = ((data[0]-means[0])*(data[1]-means[1])).sum()

In [22]:
den = np.sqrt((data[0]-means[0]).pow(2).sum()*(data[1]-means[1]).pow(2).sum())

In [23]:
num/den

0.9525646095858076

In [71]:
4/np.sqrt(6*7)

0.6172133998483676

In [72]:
data2 = pd.DataFrame( data = [[4.9,3.0,1.4,0.2],[5.6,2.5,3.9,1.1]])

In [78]:
np.sqrt((data2.iloc[0]-data2.iloc[1]).pow(2).sum())

2.792848008753788

In [8]:
Q1 = [0.8, 0.7]
Q2 = [6, 8]
Q3 = [-0.8, -0.6]
Q4 = [32, 24]


Q = [0.8, 0.6]

In [9]:
print(np.multiply(Q1,Q).sum()/(np.linalg.norm(Q1)*np.linalg.norm(Q)),
np.multiply(Q2,Q).sum()/(np.linalg.norm(Q2)*np.linalg.norm(Q)),
np.multiply(Q3,Q).sum()/(np.linalg.norm(Q3)*np.linalg.norm(Q)),
np.multiply(Q4,Q).sum()/(np.linalg.norm(Q4)*np.linalg.norm(Q)))

0.9971641204866131 0.9600000000000002 -1.0 1.0

In [11]:
np.linalg.norm(Q)

1.0

10.0

# Lesson 3: Implementing K-means

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('places.txt', sep=",", header=None)
#data.columns = ["a", "b", "c", "etc."]

In [4]:
data.head()

            0          1
0 -112.070792  33.451625
1 -112.065542  33.449298
2 -112.073931  33.456491
3 -112.074866  33.470116
4  -80.525690  43.477099

In [6]:
from sklearn.cluster import KMeans
X = data.values
kmeans = KMeans(n_clusters=3).fit(X)
kmeans.labels_
#kmeans.cluster_centers_

array([1, 1, 1, 1, 0, 0, 2, 1, 1, 2, 1, 2, 0, 1, 2, 2, 2, 1, 2, 0, 0, 0,
       0, 2, 1, 0, 1, 0, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 0, 2, 2, 2, 2, 2,
       2, 0, 1, 2, 1, 1, 0, 2, 1, 2, 0, 2, 1, 2, 0, 2, 1, 0, 2, 1, 0, 2,
       2, 1, 0, 2, 0, 1, 2, 0, 1, 1, 1, 2, 0, 1, 1, 2, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 2, 2, 1, 1, 1, 0, 1, 1, 2, 2, 1, 0, 1, 1,
       0, 2, 1, 0, 1, 1, 0, 1, 0, 0, 2, 2, 1, 0, 2, 0, 2, 0, 2, 0, 2, 0,
       2, 1, 1, 0, 0, 1, 1, 0, 2, 2, 1, 0, 2, 2, 2, 1, 2, 2, 0, 2, 2, 0,
       0, 0, 0, 0, 2, 2, 0, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 1,
       0, 2, 2, 0, 1, 0, 2, 2, 0, 2, 2, 0, 1, 0, 2, 2, 1, 1, 1, 2, 1, 1,
       2, 1, 0, 1, 2, 1, 0, 2, 1, 0, 2, 2, 0, 2, 2, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 2, 2, 2, 1, 2, 1, 1, 2, 2, 0, 0, 2, 1, 2, 1, 2, 1, 1,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 0, 0, 0, 2, 1, 2, 1, 0, 1, 2, 0,
       0, 1, 0, 1, 0, 1, 0, 2, 1, 2, 0, 0, 1, 1, 0, 0, 2, 2, 2, 2, 0, 0,
       2, 0, 0, 1, 0, 1, 2, 1, 0, 1, 1, 1, 0, 1], dtype=int32)

In [14]:
import numpy as np
np.savetxt(r'/home/joaco/Escritorio/Curso Cluster Analysis in Data Mining/clusters.txt', pd.DataFrame(kmeans.labels_).reset_index().values, fmt='%d')